body {
    padding: 4em;
}

/* video */

.video-thumb,
.video-thumb img {
    width: 100%;
}

.video-title {
    font-size: 1.4em;
}

.tags {
    margin: 0;
}

.video-frame {
   border: 0;
   width: 100%;
   /* width: 853px; */
   height: 480px; 
}

/* modal */

.showModal {
    visibility: visible;
    display: block;
    top: 0;
}

.reveal-modal-bg {
    display: block;
}